In [9]:
import database
import pandas as pd

In [2]:
db = database.Database()

In [7]:
#read boredapeyachtclub_metadata    
bayc = db.read_mongo("boredapeyachtclub_metadata")

In [16]:
pd.json_normalize(bayc[0]['attributes'])

          key        value  tokenCount  onSaleCount  floorAskPrice topBidValue
0  Background       Orange        1273          148          86.00        None
1     Clothes  Striped Tee         412           32          79.95        None
2     Earring  Silver Hoop         882           69          84.38        None
3        Eyes       X Eyes         243           24          95.00        None
4       Mouth   Discomfort         208           19          91.80        None
5         Fur        Robot         265           25         102.99        None